<div class="container-fluid">
    <div class="row ">
        <app-navbar></app-navbar>
        <div class="row p-0 ">
            <div class="container contact-image d-flex align-items-end pd-3  m-2">
                <h2 class="mb-2">How can we help you?</h2>
            </div>
            <div class="container ">
                <div class="row g-5">
                    <div class="col-md-6 align-items-center">
                        <div class="row  text-center mt-4">
                            <div class="col-12">
                                <h4>Write to Us</h4>
                            </div>
                        </div>
                        <form class="p-3">
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" class="form-control rounded-4" placeholder="Name">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control rounded-4" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col"> 
                                    <input type="text" class="form-control rounded-4" placeholder="Designation">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control rounded-4" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="email" class="form-control rounded-4" placeholder="Email">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control rounded-4" placeholder="Country">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <input type="text" class="form-control rounded-4" placeholder="Subject">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <textarea class="form-control rounded-4" rows="5" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <img src="https://nestdigital.com/wp-content/uploads/2023/07/Rectangle-125.jpg
                        " alt="Image" class="img-fluid contact-rt">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>