
  <div class="row justify-content-around mb-3 gy-3 gx-5 ">
    @for (nestdata of cardData; track nestdata.title) {
        <div class="col-4">
            <div class="card mx-2" style="width: 16rem; ">
                <img src={{nestdata.image}} class="card-img-top" alt="...">
                <div class="card-body text-center">
                  <h5 class="card-title text-primary">{{nestdata.title}}</h5>
                  <p class="card-text">{{nestdata.description}}</p>
                  <a href="aerospace.html" class=""> View</a>
                </div>
              </div>
        </div>
      }
    
   
  </div>